<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title></title>

    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">

    <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
    <link href="css/ionic.app.css" rel="stylesheet">
    -->

    <!-- ionic/angularjs js -->
    <script src="lib/ionic/js/ionic.bundle.js"></script>

    <!-- cordova script (this will be a 404 during development) -->
    <script src="cordova.js"></script>

    <!-- your app's js -->
    <script src="js/app.js"></script>
  </head>
  <body ng-app="myApp" ng-controller="myCtrl">



  <ion-list>
    <ion-item ng-repeat="item in items">
      Name : {{item.name}} <br>
      Lat : {{item.latitude}} <br>
      long : {{item.longitude}} <br>
      Owner Email : {{item.ownerEmail}} <br>
    </ion-item>
  </ion-list>
  <script>
    var app = angular.module('myApp', ['ionic']);
    app.controller('myCtrl', function($scope,$http) {

      // Simple GET request example:
      $http({
        method: 'GET',
        url: 'http://localhost:3000/gym'
      }).then(function successCallback(response) {

        $scope.items=response.data;
        //// this callback will be called asynchronously
//        for(var i =0 ; i < response.data.length; i++){
//          console.log(response.data[i]);
//          $scope.data=response.data[i];
//        }

       }, function errorCallback(response) {
        // called asynchronously if an error occurs
        // or server returns response with an error status.
      });

    });
  </script>
  </body>
</html>
